.header {
  width: 100%; /* Полная ширина страницы */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #EAEAEA; /* Фон хедера */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box; /* Убедимся, что padding не увеличивает ширину */
}

  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .icons {
    display: flex;
    gap: 20px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  
  .heart {
    background-image: url('/path-to-heart-icon');
  }
  
  .cart {
    background-image: url('/path-to-cart-icon');
  }
  