.header {
  width: 100%; /* Полная ширина страницы */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #EAEAEA; /* Фон хедера */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box; /* Убедимся, что padding не увеличивает ширину */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: contain;
}

.cart-icon-wrapper {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -10px; /* Сдвигаем счётчик вверх */
  right: -10px; /* Сдвигаем счётчик вправо */
  background-color: rgb(255, 165, 0); /* Цвет фона для счётчика */
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  min-width: 2px;
  text-align: center;
}
