.product-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки фиксированной ширины */
  gap: 20px; /* Промежутки между карточками */
  max-width: 1200px; /* Максимальная ширина каталога */
  margin: 80px auto; /* Центрируем каталог по горизонтали */
  padding: 0 20px; /* Отступы слева и справа */
  box-sizing: border-box; /* Убедимся, что padding не увеличивает ширину */
  margin-left: 250px;
}
